#title{
  text-align: left;
  float: left;
}
#midiimage{
  width: 100%;
}

.header{
  background: rgb(100, 146, 131);
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  height: 150px;
  text-align: center;
}

.left {
  float: left;
  background-color: #111;
}

.right {
  float: right;
  background-color: red;
}

.contentsplit {
  width: 50%;
}

.contententry {
  width: 100%;
  overflow: auto;
}